{% extends 'base.html' %}

{% block title %}Example questions for {{grammar_title}} {% endblock %}

{% block content %}
	<table class="table">	
	{% for key,value in output.items %}
		{% if value.sentence_id is None %}
			<tr>
				<td>{{ value.target_sentence }}</td>
				<td>{{ value.native_sentence }}</td>
	  		</tr>
		{% else %}
			<tr style="background: #eeeeee;"> 
				<td>{{ value.target_sentence }}</td>
				<td><a href="{% url 'Quiz:new_question_from_sentence' value.sentence_id %}">
					{{ value.native_sentence }}</td>
			
			 
		{% endif %}
		{% if value.sentence_id is None %}
		{% else %}
		</a></tr> 
		{% endif %}
	{% endfor %}
	</table>
	

{% endblock %}
