<form method="POST">
	{% csrf_token%}	
    <div class="panel panel-primary">
		<div class="panel-body">
			{% for field in form %}
					<div class="row">
					    <div class="fieldWrapper">
							<div class="col-md-2">
						        {{ field.errors }}
						        <a href="#" data-toggle="tooltip" title="{{ field.help_text }}">{{ field.label_tag }}</a>
							</div>
							<div class="col-md-10">
						        {{ field }} 
						    </div>		
						</div>
					</div>
					<div class="row"><div class="col-md-12"></div></div>
			{% endfor %}
		</div>
	    <div class="panel-footer">
			<div class="row"></div>
			<div class="row">
				<div class="col-md-5"></div>
				<div class="col-md-1">
					<input class="btn btn-primary" type="submit" value="Save" />
			    </div>		
				<div class="col-md-5"></div>
			</div>
		</div>		
    </div>	
</form>