{% extends 'base.html' %}

{% block title %}Add New Grammars{% endblock %}

{% block content %}
<div class="container">

  <ul class="nav nav-tabs">
    <li
        {% if active_tab == "existing" %}
    	 	class="active">
	    {% else %}
	    	>
	    {% endif %}	    
	    <a data-toggle="tab" href="#existing">Existing Stage Grammars</a></li>
    <li
		{% if active_tab == "unassigned" %}
    	 	class="active">
	    {% else %}
	    	>
	    {% endif %}
		<a data-toggle="tab" href="#unassigned">Grammars unassigned to a Stage</a></li>
    <li
	    {% if active_tab == "create" %}
    	 	class="active">
	    {% else %}
	    	>
	    {% endif %}
    	<a data-toggle="tab" href="#create">Create New</a></li>
  </ul>

  <div class="tab-content">
    <div id="existing" 
    {% if active_tab == "existing" %}
    	class="tab-pane fade in active">
    {% else %}
    	class="tab-pane fade">
    {% endif %}
		<h3>Existing Stage Grammars</h3>
		<table class="table">	
		{% for counter,type in countlist.items %}
			{% if type == "stage" %}
			<thead class="thead-inverse">
				<tr>
					<th>
						Stage {{ stage_titles|get_item:counter }}
					</th>
				</tr>
			</thead>
			{% elif type == "grammar" %}
			<tr>
				<td>{{ grammar_concepts|get_item:counter }}<a href="{% url 'Quiz:gram-update' grammar_id|get_item:counter %}">({{ grammar_titles|get_item:counter }})</a></td>
				<td>
					{% if grammar_explanation|get_item:counter %}
						<button type="button" class="btn btn-success" id="grammar_explanation_{{ counter }}">Explanation</button>
					{% else %}
						<button type="button" class="btn btn-warning" id="grammar_explanation_{{ counter }}">Explanation</button>
					{% endif %}			
				</td>
				<td>
					<a href="{% url 'Quiz:example_questions' grammar_id|get_item:counter %}">
						{% if grammar_example_question|get_item:counter %}
							<button type="button" class="btn btn-success" id="grammar_example_question_{{ counter }}">Example Question<span class="badge badge-pill badge-success">{{ questions|get_item:counter }}</span></button>
						{% else %}
							<button type="button" 
							{% if questions|get_item:counter == 0 %}
								class="btn btn-danger" 
							{% else %}
								class="btn btn-warning"
							{% endif %}
								id="grammar_example_question_{{ counter }}">Example Question<span class="badge badge-pill badge-success">{{ questions|get_item:counter }}</span></button>
						{% endif %}			
					</a>
				</td>
				<td>
					<form action="{% url 'Quiz:grammar-restage' grammar_id|get_item:counter 'existing' %}" method="post">{% csrf_token %}
						<div class="btn-group">
							<button type="button" id="grammar_restage_{{ counter }}" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								Stage<span class="caret"></span>
							</button>
							<ul class="dropdown-menu">
								{% for key,stg in stages.items %}
								
									<li><button type="submit" name="stage" value = "{{ stg.id }}" class="btn-link"> {{ stg.title }}</button></li>
								{% endfor %}
							</ul>
						</div>
					</form>
				</td>
				<td>
					<a href="{% url 'Quiz:grammar-delete' grammar_id|get_item:counter %}"><button type="button" class="btn btn-danger"><span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span></button></a>
	  			</td>
	  		</tr>
	  		{% endif %}
		{% endfor %}
		</table>
		<p><a href="{% url 'Quiz:add_stage'%}"> <button class="btn btn-primary" value="">Add additional stage</button></a></p>
    </div>


    <div id="unassigned" 
    {% if active_tab == "unassigned" %}
    	class="tab-pane fade in active">
    {% else %}
    	class="tab-pane fade">
    {% endif %}
      	<h3>Grammars unassigned to a Stage</h3>
		<table class="table">	
		{% for key,grm in unassigned_grammars.items %}
			<tr>
				<td><a href="{% url 'Quiz:grammar-update' grm.id %}">{{ grm.title }}</a> - {{ grm.gc_title }}</td>
				<td>
					{% if grm.explanation != "" %}
						<button type="button" class="btn btn-success" id="u_grammar_explanation_{{ grm.id }}">Explanation</button>
					{% else %}
						<button type="button" class="btn btn-warning" id="u_grammar_explanation_{{ grm.id }}">Explanation</button>
					{% endif %}			
				</td>
				<td>
					{% if grm.example_question %}
						<button type="button" class="btn btn-success" id="u_grammar_example_question_{{ grm.id }}">Example Question</button>
					{% else %}
						<button type="button" class="btn btn-warning" id="u_grammar_example_question_{{ grm.id }}">Example Question</button>
					{% endif %}			
				</td>
				<td>
					<form action="{% url 'Quiz:grammar-restage' grm.id 'unassigned' %}" method="post">{% csrf_token %}
						<div class="btn-group">
							<button type="button" id="grammar_restage_{{ counter }}" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								Change stage<span class="caret"></span>
							</button>
							<ul class="dropdown-menu">
								{% for key,stg in stages.items %}
									<li><button type="submit" name="stage" value="{{stg.id}}" class="btn-link">{{stg.title}}</button></li>
								{% endfor %}
							</ul>
						</div>
					</form>
				</td>
				<td>
					<a href="{% url 'Quiz:grammar-delete' grm.id %}"><button type="button" class="btn btn-danger"><span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span></button></a>
	  			</td>
	  		</tr>
	  	{% endfor %}	
  		</table>			
    </div>


    <div id="create" 
    {% if active_tab == "create" %}
    	class="tab-pane fade in active">
    {% else %}
    	class="tab-pane fade">
    {% endif %}
	<form method='POST' action=''>{% csrf_token %}
		<h3>Create New Grammar</h3>
		<div class="row" rows="6">
			<label for="id_Title">
				<div class="col-md-6">
					Title:				
					<textarea id="id_Title" name="Title" class="form-control col-xs-12" rows="1"></textarea>
				</div>
			</label>
			<div class="col-md-6">
				<label for="id_Explanation">Explanation:</label>
				<textarea id="id_Explanation" name="Explanation" class="form-control col-xs-12" rows="5"></textarea>
			</div>
		</div>
		<div class="row"><div class="col-md-12"><label for="id_Title">Grammar Concept:</label></div></div>
		<div class="row">
			<div class="col-md-12">				
				{% for g_concept in uninstantiated_gram_concepts %}
					<span class="button-checkbox">
						<button type="submit" class="btn btn-warning" name="GramConcept" value="{{ g_concept.id }}">
							{{ g_concept.title }}
						</button>
					</span> . 
				{% endfor %}
				{% for g_concept in inst_gram_concepts %}
					<span class="button-checkbox">
						<button type="submit" class="btn btn-success" name="GramConcept" value="{{ g_concept.id }}">
							{{ g_concept.title }}
						</button>
					</span> . 
				{% endfor %}
			</div>
		</div> 
	</form>
    </div>
  </div>
</div>
{% endblock %}


{% block javascript %}
	// reveal stage's grammar and highlight button
	$("body").click(function(e){
		if (e.target.id.startsWith("stage_button_")) {
			var but_id_num = e.target.id.replace("stage_button_","")
			var checkbox_id = "#stage_checkbox_" + but_id_num; 
			var gram_id = "#stage_grammar" + but_id_num;
			if ($(e.target).attr('class') == 'btn btn-success') {
				$(e.target).removeClass("btn btn-success").addClass("btn btn-default");
				$(gram_id).hide();
			} else if ($(e.target).attr('class') == 'btn btn-default') {
				$(e.target).removeClass("btn btn-default").addClass("btn btn-success");
				$(gram_id).show();
			};
			$(checkbox_id).prop('checked', !$(checkbox_id).is(':checked')) // inverse check
		};
	});

	// handles ticking of grammar points
	$(function () {
	    $('.button-checkbox').each(function () {
	        // Settings
	        var $widget = $(this),
	            $button = $widget.find('button'),
	            $checkbox = $widget.find('input:checkbox'),
	            color = $button.data('color'),
	            settings = { 									// unique to grammars
	                on: {
	                    icon: 'glyphicon glyphicon-check'
	                },
	                off: {
	                    icon: 'glyphicon glyphicon-unchecked'
	                }
	            };
	
	        // Event Handlers
	        $button.on('click', function () {
	            $checkbox.prop('checked', !$checkbox.is(':checked'));
	            $checkbox.triggerHandler('change');
	            updateDisplay();
	        });
	        $checkbox.on('change', function () {
	            updateDisplay();
	        });
	
	        // Actions
	        function updateDisplay() {
	            var isChecked = $checkbox.is(':checked');
	
	            // Set the button's state
	            $button.data('state', (isChecked) ? "on" : "off");
	
	            // Set the button's icon								// grammar only
	            $button.find('.state-icon')
	                .removeClass()
	                .addClass('state-icon ' + settings[$button.data('state')].icon);
	
	            // Update the button's color
	            if (isChecked) {
	                $button
	                    .removeClass('btn-default')
	                    .addClass('btn-' + color + ' active');
	            }
	            else {
	                $button
	                    .removeClass('btn-' + color + ' active')
	                    .addClass('btn-default');
	            }
	        }
	
	        // Initialization
	        function init() {
	
	            updateDisplay();
	
	            // Inject the icon if applicable
	            if ($button.find('.state-icon').length == 0) {
	                $button.prepend('<i class="state-icon ' + settings[$button.data('state')].icon + '"></i> ');
	            }
	        }
	        init();
	    });
	});
{% endblock %}




