<div id="answer_text" class="content-container">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="panel-title">Official Answer</h4>
		</div>
		<div class="panel-body">
			<p><strong>{{ question.back }}</strong></p>
		</div>
		
		{% if question.explanation != "" %}
			<div class="panel-footer">
				<p>{{ question.explanation }}</p>
			</div>
		{% endif %}
	</div>

	<br>
	<p><strong>{{ examiner_comment | safe}}</strong></p>
	<br>

	<form action="{% url 'Quiz:question-score' %}" id="assess_form_id" onkeypress="return event.keyCode != 13" method="post">
		{% csrf_token %}
		<input type="hidden" name="question_id" value="{{ question.id }}">
		<input type="hidden" name="entry_id" value="{{ entry_id }}">
		<input type="hidden" name="raw_entry" value="{{ raw_entry }}">
	
		{% if evaluation_confident %}
			<div class="btn-group" data-toggle="buttons">
				<label class="btn btn-primary active">
					<input type="hidden" id="allow_return" value="True">
					<input type="radio" name="self_assessment" id="self_assess_option_continue" value="{{ examiner_result }}" autocomplete="off"> Continue
				</label>
			</div>
		{% else %}		
			<p><i>I think my answer is...</i></p>
			<div class="btn-group" data-toggle="buttons">
				<label class="btn btn-success active">
					<input type="radio" name="self_assessment" id="self_assess_option1" value="{{Correct}}" autocomplete="off"> Correct
				</label>
				<label class="btn btn-danger">
					<input type="radio" name="self_assessment" id="self_assess_option2" value="{{Wrong}}" autocomplete="off"> Wrong
				</label>
				<label class="btn btn-warning">
					<input type="radio" name="self_assessment" id="self_assess_option3" value="{{Report}}" autocomplete="off"> Report problem
				</label>
			</div>
		{% endif %}
		
		<div id="feedback_id" hidden>
			<br>
			<p>Please describe the problem with this question: <i>e.g. "There is a misspelling in the question"</i></p>				
			<textarea id="id_report_entry" name="feedback" class="form-control" rows="2"></textarea>
			<br>
			<input id="id_submitfeedback" class="btn btn-primary" type="submit" value="Submit" />
		</div>
	</form>
</div>

<script type="text/javascript">
    $('form').keypress(function(event) { // Otherwise, hitting return reloads the page - super annoying!!
    return event.keyCode != 13;
}); 

    $('input[id^=self_assess_option]:radio').change(function() {
    	if ($('input[id^=self_assess_option]:checked').val() == '{{Report}}') {
    		console.log("radios R clicked")
			$('#feedback_id').removeAttr('hidden');
    		$("#id_report_entry").focus(); // put focus on report text box
			//$('input[id^=self_assess_option]:radio:not(:checked)').attr('disabled', true); // disable all non-checked radio buttons
			//$(".btn-group").hide() // hide all elements with class "btn-group"
    	}
    	else {
    		console.log("radios other clicked");
    		$('#assess_form_id').submit();
    	};
    	console.log($('input[id^=self_assess_option]:checked').val())
    	
    });
</script>
    