{% extends 'base.html' %}

{% block title %}Question Results{% endblock %}

{% block content %}

	<table>
	  <tr>
	    <th></th>
	    <th>Previous ELO score</th>
	    <th>Updated ELO score</th>
	  </tr>
	  <tr>
	    <td>Student</td>
	    <td>{{ studentELObefore|floatformat:"0" }}</td>
	    <td>{{ studentELOafter|floatformat:"0" }}</td>
	  </tr>
	  <tr>
	    <td>Question</td>
	    <td>{{ questionELObefore|floatformat:"0" }}</td>
	    <td>{{ questionELOafter|floatformat:"0" }}</td>
	  </tr>
	  <tr>
	    <td>Grammar Progress</td>
	    <td>{{ gpELObefore|floatformat:"0" }}</td>
	    <td>{{ gpELOafter|floatformat:"0" }}</td>
	  </tr>
	</table>

	<p><a href="{% url "Quiz:question-ask" %}">Attempt another question</a></p>
	<p><a href="{% url "Quiz:dashboard" %}">Return to dashboard</a></p>
{% endblock %}
