{% extends 'base.html' %}

{% block title %}Sign up for a new Course{% endblock %}

{% block content %}

	<div class="well">
		<form action="{% url 'Quiz:register-student-to-course' %}" method="post">
			{% csrf_token %}
			{% for course in valid_courses %}
				<p>
					<input type="radio" name="choice" id="course{{ forloop.counter }}" value="{{ course.course_id }},{{ course.native_id }}" />
					<label for="course{{ forloop.counter }}">{{ course.title }}</label> ({{ course.native}}->{{course.target}})
				</p>
			{% endfor %}
			<input type="submit" value="Select" />
		</form>
	</div>
{% endblock %}


